<div class="w-100">
	<div class="card">
		<div
			class="card-header d-flex justify-content-between align-items-center p-3"
		>
			<h5 class="mb-0">Онлайн чат</h5>
		</div>
		<div
			class="card-body"
			data-mdb-perfect-scrollbar="true"
			style="position: relative; height: 400px; overflow: auto"
		>
			<div class="chat__messages ">
				<div class="chat__message">
					<div class="d-flex justify-content-between">
						<p class="small mb-1">Timona Siera</p>
						<p class="small mb-1 text-muted">23 Jan 2:00 pm</p>
					</div>

					<div>
						<p
							class="small p-2 mb-3 rounded-3"
							style="background-color: #f5f6f7"
						>
							For what reason would it be advisable for me to think about
							business content?
						</p>
					</div>
				</div>

				<div class="chat__message">
					<div class="d-flex justify-content-between">
						<p class="small mb-1 text-muted">23 Jan 2:05 pm</p>
						<p class="small mb-1">Johny Bullock</p>
					</div>
					<div class="d-flex flex-row justify-content-end mb-4 pt-1">
						<div>
							<p class="small p-2 mb-3 text-white rounded-3 bg-primary">
								Thank you for your believe in our supports
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="card-footer text-muted d-flex justify-content-start align-items-center p-3"
		>
			<div class="input-group mb-0">
				<input
					type="text"
					class="form-control js-text"
					placeholder="Введите сообщение"
				/>
				<button
					class="btn btn-primary js-btn-send"
					type="button"
					style="padding-top: 0.55rem"
				>
					Отправить
				</button>
			</div>
		</div>
	</div>
</div>
